body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#talent-container {
    margin-bottom: 20px;
}

.talent-row, .zauber-row, .anderes-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.talent-select, .zauber-select, .anderes-select, .steigerungskategorie-select, .current-value, .desired-value, .ap-cost, .note-field {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 10px;

}

.talent-select, .zauber-select, .anderes-select {
    flex: 2;
}
.steigerungskategorie-select {
    width: 60px;
}
.current-value, .desired-value, .ap-cost, .note-field {
    flex: 1;
}

.note-field {
    flex: 2;
    resize: none;
    height: flex; /* Höhe anpassen, um Platz für Notizen zu bieten */
    font-family: Arial, sans-serif;

}

/* Container für die Buttons */
#button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Stil für die Buttons */
button {
    padding: 10px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
}

button:last-child {
    margin-right: 0;
}

/* Stil für Talent-Button */
button.talent-button {
    background-color: #007BFF;
}

button.talent-button:hover {
    background-color: #0056b3;
}

/* Stil für Zauber-Button */
button.zauber-button {
    background-color: #28a745;
}

button.zauber-button:hover {
    background-color: #218838;
}

/* Stil für Anderes-Button */
button.anderes-button {
    background-color: #17a2b8;
}

button.anderes-button:hover {
    background-color: #138496;
}

/* Stil für AP berechnen-Button */
button.calculate-button {
    background-color: #ffc107;
    margin-top: 10px;
}

button.calculate-button:hover {
    background-color: #e0a800;
}
/* Stil für das X-Symbol */
.delete-button {
    color: red;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    line-height: 20px;
    margin-left: 10px;
    flex: 0;
}

.delete-button:hover {
    color: darkred;
}
#total-cost-container {
    margin-top: 20px;
    text-align: right;
}

#total-cost {
    width: 100px;
    text-align: right;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    border-bottom: 1px solid #575757;
    margin-top: 0;
}

.sidebar-combobox {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.sidebar-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sidebar-buttons button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar-buttons button:hover {
    background-color: #0056b3;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}