body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#talent-container {
    margin-bottom: 20px;
}

.talent-row, .zauber-row, .anderes-row, .sonderfertigkeit-row, .rituale-row, .liturgien-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.talent-select, .zauber-select, .anderes-select, .sonderfertigkeit-select, .ritual-select, .liturgie-select,.placeholder-field, 
.steigerungskategorie-select, .liturgiegrad-select, .current-value, .desired-value, .ap-cost, .note-field, .verbilligung-select, .lehrmeister-select,.geld-field,.zeit-field {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 10px;
}
.talent-select, .zauber-select, .anderes-select,.liturgie-select{
    width: 193px;
}

.verbilligung-select{
    width: 249px;
}
.steigerungskategorie-select, .liturgiegrad-select,.lehrmeister-select{
    width: 92px;
}
.current-value,.desired-value{
    width: 50px;
}
.ritual-select, .sonderfertigkeit-select {
    width: 295px;
}
.ap-cost{
    width: 50px;
}
.placeholder-field{
    width: 132px;
    font-size: 6px;
    resize: none;
}
.note-field{
    flex: 1;
}

.note-field{
    width: 249px;
    resize: none;
    font-family: Arial, sans-serif;
}
.geld-field,.zeit-field {
    width: 50px;
    font-family: Arial, sans-serif;
    resize: none;
}
.steigerungskategorie-select, .liturgiegrad-select,.ap-cost,.geld-field,.zeit-field {
    background-color: #eeeeee;
}
#button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
}

button:last-child {
    margin-right: 0;
}

/* Specific button styles */
button.talent-button {
    background-color: #1b9e77;
}

button.talent-button:hover {
    background-color: #12694f;
}

button.zauber-button {
    background-color: #d95f02;
}

button.zauber-button:hover {
    background-color: #994301;
}

button.anderes-button {
    background-color: #7570b3;
}

button.anderes-button:hover {
    background-color: #4b4872;
}

button.sonderfertigkeit-button {
    background-color: #e7298a; /* Gray */
}

button.sonderfertigkeit-button:hover {
    background-color: #b11f6b;
}

button.rituale-button {
    background-color: #66a61e; /* Darker Gray */
}

button.rituale-button:hover {
    background-color: #477215;
}

button.liturgien-button {
    background-color: #e6ab02; /* Purple */
}

button.liturgien-button:hover {
    background-color: #a17701;
}

button.calculate-button {
    background-color: #d43636;
    width: 160px;
    height: 50px;
    margin-top: 10px;
}

button.calculate-button:hover {
    background-color: #b92f2f;
}

/* Delete button style */
.delete-button {
    color: red;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    line-height: 20px;
    margin-left: 10px;
    flex: 0;
}

.delete-button:hover {
    color: darkred;
}

#total-cost-container, #total-goldcost-container, #total-timecost-container {
    margin-top: 20px;
    text-align: right;
}

#total-cost,#total-goldcost,#total-timecost {
    width: 150px;
    text-align: right;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #575757;
    margin-top: 0;
}

.sidebar-combobox {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.sidebar-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sidebar-buttons button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar-buttons button:hover {
    background-color: #0056b3;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #11111173;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
